body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {
    text-align: center;
}

.mdl-grid {
    padding: 8px;
    max-width: 900px;
}

.mdl-layout__header {
  color: black;
}

.mdl-layout-title {
  font-weight: bold;
}

.mdl-layout__header-row .mdl-navigation__link{
  color: black;
  text-decoration: none;
}

.mdl-layout__header-row .mdl-navigation__link:hover {
  text-decoration: underline;
}

.info-img {
  width: 100%;
  height: auto;
  position: relative;
  background-color: rgba(200,100,0,.5);
  background-blend-mode: multiply;
}

.about-card > .mdl-card__title {
  position: absolute;
  height: 180%;
  margin-left: 29%;
  color: #fff;
}

.contact-card > .mdl-card__title {
  position: absolute;
  height: 180%;
  margin-left: 2%;
  color: #fff;
}

.cover-image {
  width: 100%;
  height: auto;
}
