body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {
    text-align: center;
}

.mdl-grid {
    padding: 8px;
    max-width: 900px;
}

.mdl-layout__header {
  color: rgb(89, 89, 89);
}

.mdl-layout__header-row .mdl-navigation__link{
  color: black;
  text-decoration: none;
}

.mdl-layout__header-row .mdl-navigation__link:hover {
  text-decoration: underline;
}

.mdl-layout__drawer {
  color: rgb(89, 89, 89);
}

.gif-cell {
  text-align: center;
  padding-top: 5%;
}

.work-gif {
  width: 400px;
  height: auto;
}

.greeting {
  font-size: 40px;
  color: rgb(89, 89, 89);
  text-align: center;
}

.hello-there {
  padding-bottom: 1%;
}

.intro {
  font-size: 21px;
  color: rgb(89, 89, 89);
  text-align: center;
}

p.about-text {
  font-size: 15px;
  color: rgb(89, 89, 89);
  text-align: center;
}

.contact-text {
  padding-top: 25%;
  text-align: center;
}

.contact-button {
  text-align: center;
  padding-top: 45px;
  padding-right: 10px;
  height: 35px;
  width: 35px;
}

.contact-button:hover {
  opacity: .7;
}

.img-container {
  margin: 10px;
  position: relative;
}

.img-container:hover .project-title {
  display: block;
} 

.cover-image {
  width: 100%;
  height: auto;
}

.project-title {
  display: none;
  position: absolute;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  top: 50%;
  left: 0%;
  width: 100%;
  line-height: 95%;
  pointer-events: none;
}

.project-type {
  font-size: 20px;
  font-weight: normal;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay img {
  max-width: 100%;
  position: relative;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.overlay:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
}

.overlay:hover:after  {
  opacity: .35;
  cursor: pointer;
  background-color: black;
}


.overlay:hover img {
  -moz-transform: scale(1.1);
 -webkit-transform: scale(1.1);
 transform: scale(1.1);
}

.proj-detail {
  padding-top: 10%;
  font-size: 30px;
  text-align: center;
  color: rgb(89, 89, 89);
}

.detail-item {
  padding-bottom: 35px;
}

.proj-detail p {
  font-size: 15px;
  text-align: left;
}

.detail-image {
  width: 500px;
  height: auto;
  padding-bottom: 35px;
}

.detail-feature {
  min-width: 200px;
  padding-top: 10%;
  padding-left: 20px;
}

.mdl-button {
  margin-left: 13px;
}

.mdl-button:hover {
  opacity: .7;
}
.mdl-button a {
  text-decoration: none;
  color: white;
}
