body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {
    text-align: center;
}

.mdl-grid {
    padding: 8px;
    max-width: 900px;
}

.mdl-layout__header {
  color: black;
}

.mdl-layout-title {
  font-weight: bold;
}

.mdl-layout__header-row .mdl-navigation__link{
  color: black;
  text-decoration: none;
}

.mdl-layout__header-row .mdl-navigation__link:hover {
  text-decoration: underline;
}

.cover-image {
  width: 100%;
  height: auto;
}
