body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {
    text-align: center;
}

.mdl-grid {
    padding: 8px;
    max-width: 900px;
}
.mdl-layout__header-row{
  justify-content: center;
}

a {
  color: black;
  text-decoration: none;
}

a.mdl-navigation__link:hover {
  text-decoration: underline;
}

.cover-image {
  width: 100%;
  height: auto;
}
